util.print: Use console.log instead
.big-title {
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Bitter', serif;
}
@media (min-width: 768px) {
  .big-title {
    font-size: 32px;
  }
}
body {
  padding-top: 0;
}
.section.table {
  margin-bottom: 0;
}
.square-list {
  list-style-type: square;
}
.list-tanggal li {
  list-style-type: square;
  margin-bottom: 10px;
}
.spinner-bounce-circle-container {
  position: absolute;
  left: 0;
  bottom: 100px;
  right: 0;
}
.page-down {
  background-image: url('../images/cakrawala/pagedown.png');
  width: 120px;
  height: 60px;
  position: relative;
  margin: 0 auto;
}
.spinner-bounce-circle {
  width: 60px;
  height: 60px;
  position: relative;
  margin: 0 auto;
}
.spinner-bounce-circle div {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: circlebounce 2s infinite ease-in-out;
  animation: circlebounce 2s infinite ease-in-out;
}
.spinner-bounce-circle div:nth-child(1) {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
@-webkit-keyframes circlebounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes circlebounce {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
.navbar .navbar-brand {
  position: relative;
  padding-left: 95px;
  padding-top: 14px;
}
.navbar .navbar-brand .cakrawala-logo {
  -webkit-transition: opacity 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  -moz-transition: opacity 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  -ms-transition: opacity 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  -o-transition: opacity 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  transition: opacity 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  background-image: url('../images/cakrawala/logo.png');
  background-repeat: no-repeat;
  background-position: -231px 0;
  position: absolute;
  left: 0;
  top: -2px;
  width: 77px;
  height: 78px;
  opacity: 0;
}
.navbar .navbar-brand .cakrawala-logo.green {
  background-position: 0 0;
}
.navbar .navbar-brand .cakrawala-logo.blue {
  background-position: -77px 0;
}
.navbar .navbar-brand .cakrawala-logo.red {
  background-position: -154px 0;
}
.navbar .navbar-brand .cakrawala-logo.black {
  background-position: -231px 0;
}
.navbar .navbar-brand .cakrawala-logo.active {
  opacity: 1;
}
.navbar .navbar-btn {
  margin-left: 30px;
}
.preloader {
  background: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
.preloader .logo {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.main {
  text-align: center;
}
.main .logo {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.kompetisi-debat {
  background-image: url('../images/cakrawala/paper.jpg');
  background-size: cover;
  color: #333;
  position: relative;
}
.kompetisi-debat .mic {
  position: absolute;
  bottom: 0;
  left: 8%;
}
.kompetisi-debat .info-box {
  position: absolute;
  right: 0;
  top: 10px;
  width: 60%;
}
.kompetisi-debat .info-box h2 {
  background-image: url('../images/cakrawala/debat.png');
  text-indent: -9999px;
  width: 460px;
  height: 120px;
  background-repeat: no-repeat;
  margin-right: 50px;
  margin-top: 60px;
  margin-bottom: 20px;
  float: right;
}
.kompetisi-debat .info-debat .panel {
  border: none;
  border-radius: 0;
  color: #fff;
}
.kompetisi-debat .info-debat .panel.red {
  background-color: #e62129;
}
.kompetisi-debat .info-debat .panel.red .panel-heading {
  background-color: #e62129;
}
.kompetisi-debat .info-debat .panel.green {
  background-color: #009d4b;
}
.kompetisi-debat .info-debat .panel.green .panel-heading {
  background-color: #009d4b;
}
.kompetisi-debat .info-debat .panel.blue {
  background-color: #00a2e9;
}
.kompetisi-debat .info-debat .panel.blue .panel-heading {
  background-color: #00a2e9;
}
.kompetisi-debat .info-debat .panel.grey {
  background-color: #222;
}
.kompetisi-debat .info-debat .panel.grey .panel-heading {
  background-color: #222;
}
.kompetisi-debat .info-debat .panel .panel-heading {
  border-radius: 0;
  padding: 15px;
}
.kompetisi-debat .info-debat .panel .panel-heading .panel-title {
  font-weight: bold;
  color: #fff;
}
.kompetisi-debat .info-debat .panel .panel-body {
  border-top-color: #FFF !important;
}
.kompetisi-debat .info-debat .panel .panel-body .scroll {
  max-height: 200px;
}
.kompetisi-debat .info-debat .panel + .panel {
  margin-top: 0;
}
.kompetisi-it h2 {
  background-image: url('../images/cakrawala/itcontest.png');
  text-indent: -9999px;
  width: 557px;
  height: 100px;
  background-repeat: no-repeat;
  margin: 40px auto 30px;
}
.kompetisi-it .info-box {
  width: 800px;
  margin: auto;
  position: relative;
}
.kompetisi-it .info-box h4 {
  font-size: 32px;
  position: relative;
  height: 30px;
}
.kompetisi-it .info-box h4 .info-title {
  -webkit-transition: opacity 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  -moz-transition: opacity 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  -ms-transition: opacity 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  -o-transition: opacity 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  transition: opacity 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.kompetisi-it .info-box h4 .info-title.active {
  opacity: 1;
}
.kompetisi-it .info-box .arrow {
  position: absolute;
  top: 165px;
  font-size: 36px;
  color: #333;
  cursor: pointer;
}
.kompetisi-it .info-box .arrow.arrowLeft {
  left: -30px;
}
.kompetisi-it .info-box .arrow.arrowRight {
  right: -30px;
}
.kompetisi-it .info-box .box {
  -webkit-transition: background 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  -moz-transition: background 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  -ms-transition: background 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  -o-transition: background 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  transition: background 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  height: 300px;
  padding: 50px 30px;
}
.kompetisi-it .info-box .box.green {
  background-color: #009944;
}
.kompetisi-it .info-box .box.red {
  background-color: #e63e47;
}
.kompetisi-it .info-box .box.blue {
  background-color: #1462ad;
}
.kompetisi-it .info-box .box.yellow {
  background-color: #fcd901;
}
.kompetisi-it .info-box .box.navy {
  background-color: #2e3e52;
}
.kompetisi-it .info-box .box .icon {
  background-image: url('../images/cakrawala/itcontest-icon.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 240px;
  height: 200px;
  float: left;
  margin-right: 20px;
}
.kompetisi-it .info-box .box .icon.computer {
  background-position: 0 0;
}
.kompetisi-it .info-box .box .icon.list {
  background-position: -240px 0;
}
.kompetisi-it .info-box .box .icon.note {
  background-position: -480px 0;
}
.kompetisi-it .info-box .box .icon.warning {
  background-position: -720px 0;
}
.kompetisi-it .info-box .box .icon.trophy {
  background-position: -960px 0;
}
.kompetisi-it .info-box .box .text {
  float: left;
  color: #fff;
  width: 480px;
}
.kompetisi-it .info-box .box .text .scroll {
  max-height: 205px;
}
.kompetisi-it .controlArrow {
  display: none;
}
.kompetisi-lkti h2 {
  background-image: url('../images/cakrawala/lkti.png');
  text-indent: -9999px;
  width: 480px;
  height: 172px;
  background-repeat: no-repeat;
  margin: 40px auto 40px;
}
.accordion-v {
  list-style: none;
  margin: 30px 0;
  padding: 0;
  height: 270px;
  width: 972px;
  margin: 0 auto 0;
  overflow: hidden;
  box-shadow: #111 10px 10px;
}
.accordion-v .panel-v {
  float: left;
  display: block;
  height: 270px;
  width: 40px;
  overflow: hidden;
  color: #000;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5em;
}
.accordion-v .panel-v.active {
  width: 852px;
}
.accordion-v .panel-v.active .panel-title {
  background-color: #222;
}
.accordion-v .panel-v.active.persyaratan .panel-title {
  background-position: -80px 0;
}
.accordion-v .panel-v.active.teknis .panel-title {
  background-position: -120px 0;
}
.accordion-v .panel-v.active.waktu .panel-title {
  background-position: -40px 0;
}
.accordion-v .panel-v.active.hadiah .panel-title {
  background-position: 0 0;
}
.accordion-v .panel-v.persyaratan {
  background-color: #a2d258;
}
.accordion-v .panel-v.persyaratan .panel-title {
  background-position: -80px -270px;
}
.accordion-v .panel-v.teknis {
  background-color: #d6b373;
}
.accordion-v .panel-v.teknis .panel-title {
  background-position: -120px -270px;
}
.accordion-v .panel-v.hadiah {
  background-color: #fff;
}
.accordion-v .panel-v.hadiah .panel-title {
  background-position: 0 -270px;
}
.accordion-v .panel-v.waktu {
  background-color: #b6cdd9;
}
.accordion-v .panel-v.waktu .panel-title {
  background-position: -40px -270px;
}
.accordion-v .panel-v .panel-title {
  -webkit-transition: background-color 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  -moz-transition: background-color 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  -ms-transition: background-color 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  -o-transition: background-color 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  transition: background-color 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  background-image: url('../images/cakrawala/lkti-title.png');
  background-repeat: no-repeat;
  width: 40px;
  height: 270px;
  float: left;
  cursor: pointer;
}
.accordion-v .panel-v .panel-title a {
  width: 100%;
  height: 100%;
  display: block;
}
.accordion-v .panel-v .panel-content {
  padding: 15px 15px 15px 55px;
  height: 240px;
  width: 850px;
}
.accordion-v .panel-v .panel-content .scroll {
  max-height: 235px;
}
.section.thecolorrun {
  background-image: url('../images/cakrawala/pattern.jpg');
  color: #fff;
  position: relative;
}
.section.thecolorrun .info-box h2 {
  background-image: url('../images/cakrawala/thecolorrun.png');
  text-indent: -9999px;
  height: 120px;
  background-repeat: no-repeat;
  width: 800px;
  margin: 60px auto 0;
}
.section.thecolorrun .info-tcr .panel {
  width: 800px;
  margin: auto;
  border: none;
  border-radius: 0;
  color: #fff;
  background-color: #333;
}
.section.thecolorrun .info-tcr .panel.pink .panel-heading {
  background-color: #f9008d;
}
.section.thecolorrun .info-tcr .panel.yellow .panel-heading {
  background-color: #fff000;
}
.section.thecolorrun .info-tcr .panel.blue .panel-heading {
  background-color: #05a9ff;
}
.section.thecolorrun .info-tcr .panel .panel-heading {
  border-radius: 0;
  padding: 15px;
}
.section.thecolorrun .info-tcr .panel .panel-heading .panel-title {
  font-weight: bold;
  color: #000;
}
.section.thecolorrun .info-tcr .panel .panel-body {
  border-top-color: #fff !important;
}
.section.thecolorrun .info-tcr .panel .panel-body .scroll {
  max-height: 200px;
}
.section.thecolorrun .info-tcr .panel + .panel {
  margin-top: 0;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
