/* Move down content because we have a fixed navbar that is 50px tall */
body {
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
}

table td {
    vertical-align: top;
    border:5px solid #ccc;
}

table.noborder td {
    border:none;   
}

.center {
  text-align: center;
}

.big-title {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
}

dl{margin-top:0;margin-bottom:20px}
dt,dd{line-height:1.1}
dt{font-weight:700}
dd{margin-left:0}
.dl-horizontal dt{float:left;width:145px;clear:left;text-align:left;overflow:hidden;text-overflow:ellipsis;}
.dl-horizontal dd{margin-left:0}